*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}
a, a:visited, a:hover, a:active{
    color:white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-image: url("../images/background2.png");
    background-color:rgba(0, 129, 168, 0.8);
    background-position: top-left;
    background-attachment: fixed;
    background-size: 20%;
    color:white;
}
header{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 39, 51);
}
nav{
    display:flex;
    float:left;
    height:75px;
    font-size: 20px;
    text-align:center;
}
nav a{
    padding:25px 30px;
    width:40%;
}
nav a:hover{
    background-image: linear-gradient(to top, rgba(255, 255, 255,0.5),rgba(255,255,255,0));
}

/*Kereső*/
#searchbar{
    float:right;
    height:40px;
    width:40%;
}
#searchbar img{
    float:right;
    width: 20px;
    height:20px;
    margin: 15px 10px 15px 0px;
    background-color: rgba(0, 129, 168, 1);
    border: solid rgb(0, 56, 73);
    border-width: 3px 3px 3px 0px;
    border-radius: 0px 25px 25px 0px;
    padding: 10px;
}
#searchbar input{
    float:right;
    height: 40px;
    width: 50%;
    border-radius: 25px 0px 0px 25px;
    margin: 15px 0px 15px 10px;
    border: solid rgb(0, 56, 73);
    border-width: 3px 0px 3px 3px;
    padding: 0px 10px;
    color:white;
    font-weight:bold;
    background-color: rgba(0, 169, 221, 0.9);
}
#searchbar input:active{
    background-color: rgba(0, 129, 168, 0.9);
}
#searchbar input:focus{
    outline:none;
}
#searchbar input::placeholder{
    color:rgba(0, 0, 0, 0.4);
}
main{
    min-height:600px;
    width: 90%;
    margin: 100px auto;
    background-color: rgba(26, 54, 63, 0.815);
    padding: 25px 0px;
    border-radius:7px;
    
}

footer{
    width: 100%;
    position: relative;
    bottom: 0px;
    height:100px;
    background-color: rgba(0,0,0,0.8);
    text-align:center;
    font-size:25px;
}

#title{
    width:100%;
    padding: 70px 0px;
    margin:auto;
    color: white;
    text-align:center;
    font-size: 10px;
    background-image:linear-gradient(to bottom,rgb(26, 54, 63,0.95),rgba(25, 41, 48, 0.9));
}
#title p{
    font-size:50px;
    font-weight:bold;
    text-shadow: 1px 1px 2px black, 0 0 10px black, 0 0 10px black;
    padding: 10px;
}
.container{
    background-color: rgba(0, 0, 0,0);
    width:90%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin: 50px auto;
    padding:50px 0px;
    
}
.termek{
    background-color: rgb(0, 39, 51);
    border-radius: 10px;
    margin: 10px 20px;
    width:250px;
    position:relative;  
}
.termek h2, .termek div, .termek h3, .termek h5{
    /*margin:0px 2px;*/
    padding: 1px 5px;
}
.termek h2, .termek h5, .termek h3{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.termek img{
    background-color:white;
    border-radius:10px 10px 0px 0px;
    height:200px;
    width:250px;
    margin: auto;
    object-fit: cover;
    
}
.termek p{
    background-color:rgb(143, 159, 175);
    margin: 0px;
    border: 1px solid white;
    border-width: 1px 0px;
    height:50px;
    overflow:scroll;
    overflow-x: hidden;
}
.termek p::-webkit-scrollbar-y {
    display: none;
}
/* width */
.termek p::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.termek p::-webkit-scrollbar-track {
    background:  #6b7783;
  }
   
  /* Handle */
.termek p::-webkit-scrollbar-thumb {
    background:#007396;
  }
  
  /* Handle on hover */
.termek p::-webkit-scrollbar-thumb:hover {
    background: #00a0d1;
  }
/*tooltip a túl hosszú neveknek*/
.tooltip{
    visibility: hidden;
    font-size:12px;
    background-color: rgba(143, 159, 175, 1);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top:170px;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(143, 159, 175, 1) transparent transparent transparent;
  }

/* mennyiség kiválasztása */
.qt{
    background-color: rgba(0,0,0,0);
    float: left;
    width: 50%;
    border-radius: 0px 10px;
    height: 33.5px;
    font-size:15px;    
    text-align: center;
    color:white;
    border: 1px solid white;
    border-width: 1px 1px 0px 0px;
}

.qt::-webkit-outer-spin-button, .qt::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qt[type=number] {
  -moz-appearance: textfield;
}
.qt:focus{
    outline:none;
    background-color:rgba(0, 129, 168, 0.5);
}

/* megvétel gomb */
.megvesz:hover{
    background-color:rgba(0, 129, 168, 0.5);
}
.megvesz, .disabled{
    height: 31.5px;
    width:25px;
    float:right;
    padding-top:5px;
    text-align:center;
    font-size:15px;
    font-weight:bold;
    overflow:hidden;
    cursor:pointer;
    border: white solid 1px;
    border-width: 1px 0px 0px 1px;
    border-radius:10px 0px 10px 0px;
    transition: 0.2s;
}
.disabled{
    cursor: auto;
}
.disabled:hover{
    background-color:rgba(255,0,0,0.5);
}
.megvesz img, .disabled img{
    height: 25px;
    width: 25px;
    margin: 3.25px auto;
    background-color:rgba(0, 0, 0, 0);
}
.megvesz:hover{
    width:70px;
}
.disabled{
    background-color: rgba(48, 48, 48, 0.7);
}
/*termék hozzáadása*/
.termekplusz{
    background-color: rgb(0,39,51);
    border-radius: 10px;
    margin: 10px 20px;
    width:250px;
    height:400px;
    position:relative;
    text-align:center;
}
.termekplusz img{
    border-radius:50%;
    height:150px;
    width:150px;
    min-width:150px;
    margin: 100px auto 50px auto;
    object-fit: cover;
}
.termekplusz img:hover{
  box-shadow: 0px 0px 15px rgba(0, 129, 168, 1);
  background-color:rgba(0, 129, 168, 0.5);
}

/* kosár */
.kosar{
    width:120px;
    height:75px;
    float:right;
    font-size:20px;
    color:white;
    background-color:rgba(0, 129, 168, 0.5);
    text-align:center;
}
.kosar div{
    padding: 25px 0px;
}
.kosar img{
    vertical-align:middle;
    width:30px;
    height: 30px;
}
.kosar:hover{
    background-image: linear-gradient(to top, rgba(255, 255, 255,0.5),rgba(255,255,255,0));

}

/* Kosár oldala*/

.cart{
    background-color: rgba(0, 0, 0, 0);
    width:90%;
    max-width:850px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin: 50px auto;
    padding:50px 0px;
}
.cartheader, .cartfooter{
    width: 100%;
    max-width:850px;
    display:flex;
    justify-content:flex-start;
    border-bottom: 4px solid white;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.cartfooter{
    background-color: rgba(0, 53, 70);
}
.cartfooter div{
    width: 97%;
    text-align:right;
    padding: 10px 6%;
    font-weight:normal;
}
.cartfooter button{
    color:white;
    width: 10%;
    padding: 10px ;
    background-color: rgba(143, 159, 175, 0.5);
    border: 0;
}
.cartfooter button:hover{
    background-color: rgba(255, 255, 255,0.5);
    cursor:pointer;
}
/* Fejléc*/
.cart-name{
    padding: 0px 5px;
    width:20%;
}
.cart-id{
    width:20%;
}
.cart-price{
    width:19%;
    display:flex;
}
.cart-qt{
    width:20%;
    display:flex;
}

.cart-qt input{
    width: 50%;
}
.cart-qt button{
    color:white;
    width: 30%;
    margin: 0px 10%;
    border: 0;
    border-radius: 5px;
    background-color:grey;
}
.cart-qt button:hover{
    background-color:rgba(143, 159, 175, 1);
    cursor:pointer;
}
.cart-total{
    width:18%;
    display:flex;
}
.cartelements{
    width: 100%;
    display:block;
    margin: 0 auto;
}
.carttermek:nth-of-type(even){
    background-color:rgba(0, 129, 168, 0.5);
}
.carttermek:nth-of-type(odd){
    background-color:rgba(143, 159, 175, 0.5);
}
.carttermek{
    width:100%;
    max-width: 850px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}
/*törlés gomb*/
.delete{
    position: absolute;
    top:5px;
    right:5px;
    height:40px;
    width:40px;
    border-radius:5px;
}
.delete img, .cartdelete img{
    opacity:0.65;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
   
}
.delete img:hover, .cartdelete img:hover{
    opacity:0.9;
    cursor:pointer;
}
.cartdelete{
    padding: 0px 5px;
    display:flex;
    width: 3%;
}
/* maradjanak otthon! */
.maradjotthon{
    padding: 20px 0px;
    width:100%;
    height:700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-image: url("../images/maradjanakotthon.gif");
}
.maradjotthon p{
    width:25%;
    min-width: 400px;
    margin: auto;
    padding: 20px 0px;
    background-color:rgba(107, 107, 107, 0.8);
    text-align: center;
    border-radius:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}
#volume{
    -webkit-appearance: none;
    width:100%;
    height: 10px;
    background: #8f8f8fc9;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 32.5px 5px;
}
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    background: rgb(88, 119, 255);
    cursor: pointer;
  }
#volume::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
  }





@media screen and (max-width:600px){
    .cart{
        font-size:2vw;
    }
    button{
        font-size:1vw;
    }
}
